@import "compass/css3";
@import "compass/utilities";

$c1: #D96666;
$c2: #D98032;
$c3: #F2A950;
$c4: #736C48;
$page-bg: #2A2D34;


*{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


html, body{
  background-color: $page-bg;
  color: #ffffff;
}

.h-line{
  border: solid rgba(255, 0, 0, .5) 1px;
  position: absolute;
  width: 20%;
  left: 40%;
  top: 50%;
}

.v-line{
  border: solid rgba(255, 0, 0, .5) 1px;
  position: absolute;
  height: 20%;
  right: 50%;
  top: 40%;
}

